
/* Responsive design */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
    .hamburger {
        display: block; /* Show hamburger on small screens */
        position: absolute;
        top: 10px;
        right: 10px;
      }
    
      nav ul {
        display: none; /* Hide menu items initially */
      }
    
      nav ul.active {
        display: block; /* Show menu items when active */
      }
}